body {
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fff;
    background: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
} 

.site { background-color: #1b1b1bdc; }

.inactive { display: none; }

header {
    height: 10vh; width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #551A52;
}

.block { padding: 15vh 0 0 0; }

.icon {
    width: 40vh; height: 40vh;
    border-radius: 10px;
}

.qr {
    margin: 3vh 0;
    width: 30vh; height: 30vh;
    border-radius: 10px;
}

.qr:hover { 
    cursor: pointer; 
    opacity: .7;
    transform: scale(1.1);
}

.interections:hover {
    animation: btn-bouncing 0.5s 1;
    transform: translate(0, -5px);
}

@keyframes btn-bouncing {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -5px);
    }
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vh; height: 5em;
    background-color: #551A52;
    color: #fff;
    border-radius: 10px;
}

.link-block {
    width: 30vh; height: 3em;
    background-color: #772473;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    padding: 1em 3em;
    color: #fff;
    font-size: .8em;
    color: #ff87f9;
    text-decoration: underline;
}

.link:hover {
    color: #2b2c64ea;
    background-color: #bd41b7;
    border-radius: 10px;
}

.head { padding: 0 2em; }

.avatar-header {
    height: 7vh; width: 7vh;
    padding: 10px;
    border-radius: 50%;
}

main {
    margin: 0 16% 0 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn {
    width: 50px; height: 50px;
    margin: 0.7em;
    background: url(images/play.png);
    border: none;
}

.action-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px;
}

.img {
    width: 20vh; height: 20vh;
    border-radius: 5px;
}

.img:hover {
    cursor: pointer;
}

.telegram {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn { 
    background-color: #551A52; 
    color: #ff87f9;
    text-decoration: underline;
}

.btn:hover {
    color: #2b2c64ea;
    background-color: #bd41b7;
}

.tg-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#works {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#works h2 {
    display: flex;
    justify-content: center;
}

.work {
    width: 40%;
    border: #fff solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.bx-wrapper {
    position: relative;
    z-index: 0;
    width: 800px;
    background-color: #1b1b1bdc;
}

.insp-btn {
    height: 3em;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    font-size: 1.2em;
}

.insp-btn:hover {
    cursor: pointer;
} 

.list {
    background-color: #1b1b1bea;
    text-align: center;
}

.list h2 {
    padding: .8em 1.5em;
    background-color: #551A52;
    border-radius: 10px;
}

.slider { width: 800px; height: 500px; }

#links-page h2 {
    display: flex;
    justify-content: center;
}

.link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.link-container a {
    display: flex;
    justify-content: center;
    padding: .5em .2em;
    border-radius: 10%;
}

footer {
    height: 10vh;
    margin: 5vh 0 0;
    font-size: 1em;
    padding: 1em;
    background-color:#2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

@media (orientation: portrait) and (max-width: 1080px){
    body { font-size: 2em; }

    header { height: 20vh; }

    .block { padding: 5vh 0 0 0; }

    #main-info { padding: 20vh 0 0 0; }

    .icon { width: 30vh; height: 30vh; }

    .text { width: 60%; }

    .tg-link { margin: 2vh 0 0 0; }

    .qr { display: none; }

    .link {
        background-color: #50204d;
        margin: .2em;
        border-radius: 10px;
    }

    .action-btn {
        width: 100px; height: 100px;
        background: url(images/playMobile.png);
    }

    .about {
        display: flex;
        flex-wrap: wrap;
    }

    .link-block {
        text-wrap: nowrap;
        padding: 0 3vh;
    }

    .telegram {
        display: flex;
        flex-wrap: wrap;
    }

    .albums {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

}

@media (orientation: landscape) and (max-width: 1080px){
    .link-block { font-size: smaller; }
}