body {
    width: 100vw;
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #fff;

    background: url("images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
} 

.site {
    width: 100vw;
    background-color: #1b1b1bdc;
}

header {
    position: fixed;
    background-color: #551A52;
    height: 10vh; width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mainInfo {
    padding: 15vh 0 0 0;
}

.icon {
    display: flex;
    width: 30vh; height: 30vh;
    border-radius: 10px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #551A52;
    padding: 50px;
    border-radius: 10px;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    margin: 0 2em;
    padding: 1em 3em;
    border: none;
    background-color: #551A52;
    color: #fff;
    font-size: 0.8em;
}

.head {
    padding: 0 2em;
}

.avatarHeader {
    height: 7vh; width: 7vh;
    padding: 10px;
    border-radius: 50%;
}

main {
    margin: 0 16% 0 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actionBtn {
    width: 50px; height: 50px;
    margin: 10px;
    background: url("images/play.png");
    border: none;
}

.albums {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px;
}

.img {
    width: 20vh; height: 20vh;
    border-radius: 5px;
}

.telegram {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0 ;
}


#works {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#works h2 {
    display: flex;
    justify-content: center;
    padding: 5vh 0 0 0;
}

.work {
    width: 40%;
    border: #fff solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#inspiration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#linkPage p{
    display: flex;
    justify-content: center;
}

#linksPage h2 {
    display: flex;
    justify-content: center;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    height: 10vh;
    display: flex;
    font-size: 1em;
    padding: 1em;
    background-color:#2c2c2c;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

@media(max-width: 1080px) {
    body {
        font-size: 2em;
    }
    header {
        height: 20vh;
    }
    #mainInfo {
        padding: 20vh 0 0 0;
    }
    .text {
        width: 60%;
    }
    .actionBtn {
        width: 100px; height: 100px;
        background: url("images/playMobile.png");
    }
    .about {
        display: flex;
        flex-wrap: wrap;
    }
    .telegram {
        display: flex;
        flex-wrap: wrap;
    }
    .albums {
        width: 60vw;
        display: flex;
        flex-wrap: wrap;
    }
    .links {
        display: flex;
        flex-direction: column;
    }
}